body {
  font-family: "Oswald", sans-serif;
  background-color: #adadc9;
  color: #322d31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}
body .form_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 1px white;
  margin-top: 20px;
  width: fit-content;
  text-align: start;
}
body .form_container form {
  align-items: center;
}
body .form_container form #description {
  width: 100%;
  max-width: 202px;
}
body .form_container form label {
  display: inline-block;
  width: 100px;
  margin-right: 5px;
}
body .form_container form .name_area,
body .form_container form .firstname_area,
body .form_container form .email_area,
body .form_container form .file_area,
body .form_container form .description_area {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
body .form_container form .description_area {
  margin-bottom: 30px;
}
body .form_container form input {
  margin-bottom: 5px;
  width: 100%;
  max-width: 202px;
}
body .form_container form .form_footer {
  display: flex;
  justify-content: center;
}
body .form_container form .form_footer #submit_btn {
  width: 150px;
  height: 30px;
  margin-top: 10px;
  background-color: #ebf5ee;
}